:root {
    --second-family: "Poppins", sans-serif;
    --third-family: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
}

a {
    cursor: pointer;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
    color: #020303;
    background: #fff;
    line-height: 1.3;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px
}

.header-top {
    background: #2f80ed;
    padding: 12px 0;
}

.header-nav ul {
    padding: 0;
    margin: 0 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    list-style: none;
}

.header-nav ul li a {
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
}

.header-bottom {
    border-bottom: 1px solid #2f80ed;
    padding: 44px 0 24px;
}

.header-bottom-content {
    display: flex;
    align-items: flex-end;
}

.header-logo {
    height: 42px;
}

.header-logo img {
    display: block;
}

.order-number {
    margin: 0 0 -3px 66px;
}

.order-number p {
    display: inline-block;
    margin: 0;
    font-family: var(--third-family);
    font-weight: 400;
    letter-spacing: 0.02em;
}

.order-number b {
    margin: 0 0 0 5px;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.header-cart {
    margin-left: auto;
    position: relative;
    height: 26px;
    width: 78px;
    top: -23px;
    left: -8px;
    background: url("../images/cart.png") no-repeat center center;
}

.header-cart p {
    font-weight: 700;
    margin: 0;
    font-size: 14px;
    line-height: 1.57175;
    color: #333;
    position: absolute;
    top: 31px;
}

.header-cart span {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #8cc01e;
    padding-right: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    text-align: end;
    color: #020303;
    position: absolute;
    top: -20px;
    right: -7px;
}

.main {
    margin-bottom: 75px;
}

.sec1 {
    margin: 44px 0;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.breadcrumbs li {
    margin-right: 10px;
}

.breadcrumbs li:after {
    content: "/";
    color: #2f80ed;
    margin-left: 8px;
}

.breadcrumbs li:nth-child(2):after {
    margin-left: 4px;
    content: "/";
}

.breadcrumbs li:last-child:after {
    content: "";
}

.breadcrumbs li:last-child {
    margin-left: 4px;
}

.pages a, .pages-current a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.37528;
    color: #2f80ed;
}

.pages-current a {
    font-weight: 700;
}

.title {
    font-family: var(--third-family);
    font-size: 24px;
    letter-spacing: 0.02em;
    margin: 27px 0 31px 2px;
}

.cart-tbl-block {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.cart-tbl {
    display: table;
    width: 100%;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.cart-tbl-row {
    display: table-row;
}

.meat-type, .price-kg, .count {
    color: #33334f;
}

.cart-tbl-row div {
    display: table-cell;
    padding: 23px 20px 21px 0;
}

.tbl-title div {
    padding: 21px 0 20px;
}

.tbl-title {
    display: table-row;
    background: #2f80ed;
    color: #fff;
}

.tbl-title div {
    border: none !important;
}

.cart-tbl-row div:first-child {
    padding-left: 65px;
}

.cart-tbl-row:not(:first-child) div:last-child {
    width: 215px;
    color: #2f80ed;
}

.cart-tbl-row:not(:first-child) div:nth-child(3) {
    width: 225px;
}

.cart-tbl-row div:nth-child(2) {
    width: 190px;
}

.cart-tbl-row:not(:first-child) div {
    border-bottom: 2px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.cart-tbl-row div:nth-child(2),
.cart-tbl-row div:nth-child(3),
.cart-tbl-row div:nth-child(1) {
    border: none;
    border-bottom: 2px solid #ebebeb;
}

.cart-tbl-row div:nth-child(1) {
    border-left: 1px solid #ebebeb;
}

.cart-tbl-row div:nth-child(4) {
    border-left: none;
}

.cart-tbl-row .price-kg, .cart-tbl-row .count, .cart-tbl-row .final-price {
    align-content: center;
    padding: 23px 20px 23px 0;
}

.cart-tbl-row span {
    display: none;
}

.sec2 {
    margin: 76px 0 0;
}

.sec2 h2 {
    text-align: center;
    margin-bottom: 33px;
}

.sec2-card1 img {
    margin: 0 0 3px auto;
}

.sec2-card2 img {
    margin: 0 0 0 auto;
}

.sec2-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
}

.sec2-card1 {
    display: flex;
    flex-basis: 636px;
    background: #e5eff9;
    border-radius: 5px;
    padding: 49px 25px 43px 23px;
}

.sec2-card2 {
    display: flex;
    flex-basis: 636px;
    background: #e5eff9;
    border-radius: 5px;
    padding: 13px 25px 13px 43px;
}

.sec2-card1:hover, .sec2-card2:hover {
    transition: 0.13s ease-in-out;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.card-content {
    display: flex;
    flex-direction: column;
}

.sec2-card2 .card-content h3 {
    margin: 47px 0 10px;
}

.card-content h3 {
    text-transform: uppercase;
    margin: 12px 0 9px 0;
    font-family: var(--third-family);
    font-size: 36px;
    letter-spacing: 0.02em;
}

.card-content p {
    letter-spacing: 0.02em;
    margin: 0;
}

.card-content a {
    margin: auto 0 13px -1px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2f80ed;
}

.sec2-card2 .card-content a {
    margin: auto 0 42px -1px;
}

.sec3 {
    margin: 51px 0 0 0;
}

.sec3 h3 {
    text-align: center;
}

.sec3-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.sec3-card {
    border-radius: 5px;
    background: #e5eff9;
    flex-basis: 636px;
    display: flex;
    flex-direction: column;
}

.sec3-card-main {
    display: flex;
}

.sec3-card img {
    display: inline-block;
    padding: 8px 0 7px 20px;
}

.sec3-card-content {
    margin: 13px 0 0 34px;
    align-content: flex-start;
}

.sec3-card h5 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37528;
    color: #020303;
}

.sec3-card h6 {
    margin: 0 0 7px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #020303;
}

.sec3-card span {
    letter-spacing: 0.02em;
}

.sec3-card span b {
    font-weight: 700;
    line-height: 1.37528;
}

.category-meal {
    display: inline-block;
    padding: 1px 9px 4px 10px;
    margin: 12px 0 15px -3px;
    border: 2px solid #020303;;
    border-radius: 5px;
    color: #020303;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.buy-btn {
    display: block;
    border-radius: 0 0 5px 5px;
    padding: 12px 0 13px;
    text-align: center;
    background: #2f80ed;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
}

.see-more {
    display: block;
    text-align: center;
    margin: 51px 0 0;
    color: #020303;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.sec4 {
    margin: 52px 0 0;
}

.sec4-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}

.sec4-card {
    flex-basis: 416px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sec4-card-top {
    position: relative;
    border-left: 1px solid #2f80ed;
    border-top: 1px solid #2f80ed;
    border-right: 1px solid #2f80ed;
    border-radius: 5px 5px 0 0;
}

.sec4-card img {
    border-radius: 5px;
    display: block;
    max-width: 100%;
}

.sec4-card p {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000;
    padding: 21px;
    width: 100%;
    text-align: center;
    margin: 0;
    background: rgba(255, 255, 255, 0.7);
}

.btn-recipe {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 11px 0;
    display: block;
    background: #2f80ed;
    border: 1px solid #2f80ed;
    border-radius: 0 0 5px 5px;
}

.footer {
    background: #2f80ed;
    margin: 113px 0 0;
    padding: 58px 0 68px;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 167px;
}

.footer-logo {
    flex-basis: 55%;
}

.footer-contacts {
    flex-basis: max-content;
}

.footer-logo p, .footer-contacts span {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-logo p {
    margin: 34px 0 0 0;
    line-height: 1.4;
}

.footer-logo p span {
    text-transform: uppercase;
}

.footer-contacts span {
    font-weight: 700;
}

.footer-contacts .label {
    display: inline-block;
    width: 112px;
}

.footer-contacts .value {
    display: inline-block;
}

.address-div p {
    margin: 0 0 5px 0;
}

.address-div p:last-child {
    margin: 0 0 -2px 0;
}

.phone-div p {
    margin: 16px 0 -13px 0;
}

.email-div p {
    margin: 27px 0 0;
}